.btn-filtro{
    background-color: #e7b103;
    color:#fff;
    width:100%;
}

.icon-filtro{
    margin-left: 8px;
}

.img-card{
    height: 150px;
}

ion-card-title{
    font-size: 14px;
}

.azul1{
    color:#2a68af !important;
}

.espace-icon{
    margin-right: 5px;
}
