page-minha-conta {

}
.btn-editar{
    right:10px;
    position:absolute;
    top:10px;
    background-color:transparent;
    color:#000;
}

.meu-nav{
    background-color: #2a68af !important;
    color:#fff !important;
}

.meu-avatar{
    border-radius: 50%;
    height: 100px;
    width:100px;
    text-align: center;
}
.h2-minhaconta{
    text-align: center;
}
.avatar-pos{
    text-align:center !important;
    padding:10px;
    padding-left: 27%;
    position:relative;
}

.card-minhaconta{
    color:#000 !important;
}

.espace-icon2{
    margin-right:10px;
    margin-top: 15px;
}